*{
    margin: 0px;
    padding: 0px;
}

body{
    background-position:center;
    margin-top: 50px;
    background-color: rgba(245, 245, 220, 0.86);
}
#mainDiv{
    margin:20px;
    width:60%;
    padding:3%;
    float:left;
    border:2px solid red;
    border-radius: 20px;
    box-shadow: 5px 5px 4px 2px darkgrey;
}

img{
    width:150px;
    height: 250px;
    margin: 10px;
}
p{
    padding: 10px;
    margin: 10px;
}





